@font-face {
    font-family: sans-medium;
    src: url("../assets//fonts/PublicSans-Medium.ttf");
}

@font-face {
    font-family: sans-bold;
    src: url("../assets/fonts/PublicSans-Bold.ttf");
}

@font-face {
    font-family: Cosmic;
    src: url("../assets//fonts/EdgeOfMadness-ALq7x.ttf");
}